{% extends "base.html" %}

{% block content %}
    <h1>Unexpected error!</h1>
    <p>Chip and Dale has already been fixing this problem! Stay cool!!! Thnx!</p>
    <p><a href="{{ url_for('index') }}">Homepage</a></p>
{% endblock %}