    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(36) }}"></td>
            <td>{{ post.author.username }} says: <br><b>{{ post.body }}</b></td>
        </tr>
    </table>